
html,
body,
div,
h1,
h2,
p,
ul,
section {
  font-family: "Raleway", Raleway, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}

#outPut {
  font-family: "Raleway", Raleway, Arial, sans-serif;
  flex-grow: 1;
  font-size: 2.5em;
  margin-bottom: -3%;
}

.footer-inner {
  height: 4em;
  clear: both;
  font-family: "Raleway", Raleway, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
  flex-grow: 1;
  align-items: baseline;
  text-align: center;
  padding-top: -10%;
  color: grey;
}

.push {
  flex-grow: 1;
  text-align: center;
}

#enterHere {
  text-align: center;
}

#title {
  padding-top: -5%;
  margin-bottom: 4%;
  font-size: 3em;
}

#Layer_1 {
  max-width: 30%;
  opacity: .4;
  margin-left: 10%;
  margin-bottom: -2.5%;
}

.container {
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", Raleway, Arial, sans-serif;
  width: 70%;
  max-width: 800px;
  background: white;
  padding: 5% 5%;
  margin: 5% auto;
  overflow: hidden;
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 4px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 1px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2.5%;
}


/*   Green Background color for input fields    */
.flexItem {
  background-color: rgba(50,205,50, 0.1);(50,205,50);
}

#form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 5%;
  margin-right: 5%;
}

#flower,
#cups,
#thc,
#cbd {
  font-family: "Raleway", Raleway, Arial, sans-serif;
  margin: 0px 10px 10px 0px;
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
}


ul {
  list-style: none;
}

body {
  background: #edeff0;
  padding: 50px 0 0;
  font-family: "Raleway", Raleway, Arial, sans-serif;
  font-size: 62.5%;
}

h1 {
  font-weight: 800;
  font-size: 35px;
  text-align: center;
  color: #3f8abf;
  font-family: 'Raleway',sans-serif;
  line-height: 72px;
  margin: 0 0 32px;
  text-transform: uppercase;
  margin-bottom: 16px;
  line-height: 1.2;
  text-transform: uppercase;
}

p {
  font-family: "Raleway", Raleway, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
  color: #8d9aa5;
  margin-bottom: 15px;
  line-height: 1.4;
}

/*****     SVG Logo     *****/
.bluepart {
  fill: grey;
  stroke: grey;
}

.whitepart,
.tagline {
  fill: black;
  stroke: lightgrey;
  opacity: 1;
}
.whiteline {
  fill: grey;
  stroke: grey;
}

.tagline {
  opacity: 0;
}

/* MEDIA RULES FOR RESPONSIVE SCREEN DESIGN */
@media (min-width: 600px) {
  #flower,
  #cups,
  #thc,
  #cbd {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  #flower,
  #cups,
  #thc,
  #cbd {
    width: 23%;
  }
}
